* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 0;
    margin: 0;
    padding: 0;
}
input {
    outline: none;
}
.loto_container {
    align-items: center;
    justify-content: center;
    background: #fafafa;
}
.count_group {
    text-align: right;
    font-size: 16px;
    margin: 0;
}

@media screen and (max-width: 991.98px) {
    .d-sm-block {
        display: block;
    }
    .row > * {
        padding: 0;
    }
    .loto_container {
        padding-top: 31px;
    }
}